<a href="https://colab.research.google.com/github/pv0403/Machine_learning_introduction/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### I created a machine learning model, used the "test preparation course" column as the target variable, achieved an accuracy of 75.6%, a recall of 83%, with a total accuracy of 60%

# Import libs

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import RandomOverSampler

# Import Data set

In [72]:
df = pd.read_csv('exams.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

# exploratory analysis

In [77]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#Separating the dependent variables from the independent ones

In [130]:
x = df.drop(['test preparation course'], axis = 1)
y = df['test preparation course']

# Separating test data and training data

In [134]:
seed = 42
x_train,x_test,y_train,y_test = train_test_split(x, y, random_state = seed, test_size = 0.25, stratify = y)

In [135]:
x_train = pd.get_dummies(x_train, drop_first=True, dtype='int8')
x_test = pd.get_dummies(x_test, drop_first=True, dtype='int8')

In [136]:
x_train

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school
35,57,53,54,0,0,0,0,0,0,0,0,0,1
113,50,64,63,0,0,1,0,0,0,0,1,0,0
78,85,75,74,1,0,0,0,0,0,0,0,0,0
386,68,82,86,0,0,0,0,1,1,0,0,0,0
437,49,39,33,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,56,45,38,1,0,0,0,0,0,1,0,0,0
397,67,76,76,0,1,0,0,0,0,0,0,0,0
567,52,59,58,0,0,1,0,0,0,0,0,0,1
41,76,82,77,1,0,1,0,0,0,0,0,0,0
175,62,71,74,0,0,0,1,0,0,0,1,0,0

# The model training

In [147]:
model = LogisticRegression(random_state = seed)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test,y_pred)*100

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Accuracy Score

In [148]:
accuracy

78.4

# F1 Score

In [138]:
f1_score(y_test,y_pred, pos_label = 'completed' )

0.686046511627907

# Confusion Matrix

In [139]:
confusion_matrix(y_test,y_pred)

array([[ 59,  27],
       [ 27, 137]])

# Trying improve model performance though over sampling

In [140]:
ros = RandomOverSampler(random_state = seed)
x_resROS,y_resROS = ros.fit_resample(x_train,y_train)
ml_RL = LogisticRegression(random_state=seed)
ml_RL.fit(x_resROS,y_resROS)
y_predII = ml_RL.predict(x_test)
accuracy_score(y_test,y_predII)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.756

# Recall

In [141]:
recall_score(y_test,y_predII, pos_label='completed')*100

82.55813953488372

# Precision

In [142]:
precision_score(y_test,y_predII,pos_label = 'completed')

0.6068376068376068

# Confusion Matrix

In [150]:
confusion_matrix(y_test, y_predII)

array([[ 71,  15],
       [ 46, 118]])

#####

In [22]:
!pip install -U imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.9/dist-packages (0.10.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn) (1.22.4)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from imbalanced-learn) (3.1.0)

In [146]:
print(classification_report(y_test,y_predII))

              precision    recall  f1-score   support

   completed       0.61      0.83      0.70        86
        none       0.89      0.72      0.79       164

    accuracy                           0.76       250
   macro avg       0.75      0.77      0.75       250
weighted avg       0.79      0.76      0.76       250